# Compiled output
/bin

# Env
/src/env.hpp

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.history/*

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json

# Profiles
profiles.csv

# Frontend
/frontend/node_modules
frontend/.env