.Screen {
  width: 600px;
  height: 400px;
  background-color: #eeeeee;
  border: 4px solid #e0e0e0;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 16px;
}

.pipes-container {
  flex: 1;
  width: 100%;
  display: flex;
}

.pipe {
  height: 100%;
  border: 4px solid #e0e0e0;
  border-radius: 16px;
  flex: 1;
  margin: 0 12px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pipe-name {
  text-align: center;
}

.pipe-props {
  flex: 1;
  display: flex;
}

.toggle-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  font-size: 48px;
  color: #bdbdbd;
  border: 4px solid #bdbdbd;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.toggle-button.on {
  color: #1976d2;
  border: 4px solid #1976d2;
}

.pipe-prop {
  display: flex;
  flex-direction: column;
  width: 20px;
}

.pipe-prop-def {
  display: flex;
  align-items: center;
  position: relative;
}

.pipe-prop-icon {
  margin: 4px;
}

.pipe-props input[type="range"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  flex: 1;
  padding: 0 5px;
}